nav{
    display:flex;
    position:fixed;
    height:100px;
    width:100%;
    background-color:rgb(59,89,152);
}
body{
    margin:0px;
}
#logo{
    margin: 20px 0px 0px 80px;
    margin-top:20px;
    margin-left:80px;
    height:80px;
    width:700px;
    background-image:url("webimages/facebook-logo.jpg");
    background-size: contain;
    background-repeat:no-repeat;
}
nav ul{
    display:flex;
    height:100px;
    width:700px;
    margin-left:300px;
    margin-top:50px;
}
nav ul li{
    margin-left:50px;
    display:inline;
}
nav ul li a{
    color:white;
    text-decoration:none;
}

#major-part{
    display:flex;
    height:700px;
    width:100%;
    background-color:rgb(237,240,245);
}
.photos-collection{
    margin-top:100px;
    height: 600px;
    width:700px;
    background-color:whitesmoke;
}
.picture-box{
    display:inline-block;
    margin: 40px 10px 80px 80px;
    height:200px;
    width:200px;
    background-color:black;
    box-shadow:5px 5px 5px #888888;
}
#user1{
    display:flex;
    height:200px;
    width:200px;
    background-image: url(webimages/user1.jpeg);
    background-size : cover;
    background-repeat:no-repeat;   /*ise likhne na likhne se ispe koi farak nahi padh raha */
}
#user2{
    display:flex;
    height:200px;
    width:200px;
    background-image: url(webimages/user2.jpg);
    background-size : cover;
    background-repeat:no-repeat;
}
#user3{
    display:flex;
    height:200px;
    width:200px;
    background-image: url(webimages/user3.jpg);
    background-size : cover;
    background-repeat:no-repeat;
}
#user4{
    display:flex;
    height:200px;
    width:200px;
    background-image: url(webimages/user4.jpg);
    background-size : cover;
    background-repeat:no-repeat;
}
#user1:hover .profile-name{
    visibility:visible;
}
#user2:hover .profile-name{
    visibility:visible;
}
#user3:hover .profile-name{
    visibility:visible;
}
#user4:hover .profile-name{
    visibility:visible;
}
.profile-name{
    box-shadow:5px 5px 5px #888888;
    visibility:hidden;
    margin-top:150px;
    width:inherit;
    background-color:white;
}
.profile-name-written{
/*    text-align:right;  ( kaam nahi karega ye )*/
    margin-left:80px;
    font-family:cursive;
}
.signup-form{
    margin-top:100px;
    height:600px;
    width:500px;
    background-color:whitesmoke;
}
input{
    height:30px;
    width:200px;
    margin-right:10px;
    margin-top:10px;
    border-color:#bdc7d8;
    border-radius:5px;
}
#create-account{
    height:50px;
    width:250px;
    background:linear-gradient(#67ae55,#578843);
    box-shadow: inset 0px 1px 1px;
    border-color:1px solid;
    border-radius:5px;
    color:#fff;
    font-family:'Freight Sans Bold',Helvetica,Arial,sans-serif; 
    font-weight:bold;
    font-size:20px;
    cursor:pointer;
    letter-spacing:1px;
    text-shadow:0 1px 2px rgba(0,0,0,0.5);
}
#pageFooter{
    background-color:rgb(59,89,152);
    padding-top:1.5em;
    overflow:hidden;
    height:150px;
}
#pageFooter div{
    margin-top:-20px;
    margin-left:100px;
    margin-right:30px;
    display:inline-block;
    text-align:center;
    height:80px;
}
#pageFooter a{
    display:inline-block;
}
#relatedtags{
    height:70px;
    width:500px;
}
#relatedtags ul li{
    margin-right:8px;
    margin-left:8px;
    font-size:15px;
    display:inline-block;
}
#relatedtags ul li a{
    text-decoration:none;
    color:white;
}
#pageFooter img{
    width:30px;
    height:30px;
}
::-moz-paceholder{      /* mozilla firefox */
    font-size:18px;
    font-family:inherit;
}
::-webkit-paceholder{   /* chrome */
    font-size:18px;
    font-family:inherit;
}









